#form {
    padding: 30px;
}

#form > * {
    padding: 10px 0;
}

.compulsoryFieldWarning > span {
    color: #0091cd;
}

#submitButtonWrapper {
    display: flex;
    justify-content: center;
}

#submitButton {
    background: #ea530f;
    background: -webkit-linear-gradient(to top, #ec8e63, #ea530f);
    background: linear-gradient(to top, #ec8e63, #ea530f);
    max-width: 400px;
    color: white;
    font-size: 16px;
    transform: scale(1);
    transition: all 0.2s;
}

/*Small submit button hover scale & glow animation*/
#submitButton:hover {
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 3px #ea540f93);
}